$color-btn: #a80750;
$color-white: #ffffff;
$color-black: #000000;


$color-primary: #58585a;

$color-grey-light: #e8e8e8;
$color-grey-light-2: #f3f3f3; // Form Give monthly bg
$color-grey-light-3: #bebebe; // Form : borders

$color-secondary: #d2b579;
$color-footer: #e8e8e8;
$color-bg-cost: #dee2e6;

// Border radius
$border-radius: .4rem;