.disciples {
  width: 100%;

  background-color: $color-footer;

  &__container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 6rem 4rem 10rem 4rem;
    text-align: center;

    @media only screen and (max-width: $bp-smallest) {
        padding-bottom: 2rem;
    }
  }

  &__heading {
    padding-bottom: 3rem;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-smallest) {
        flex-direction: column;
    }
  }

  &__item {
    width: 31%;

    @media only screen and (max-width: $bp-smallest) {
        width: 100%;
        margin-bottom: 3rem;
    }
    img {
      width: 50%;
    }
  }
}

.figure {
  width: 100%;

  &__image {
    clip-path: circle(50% at 50% 50%);
  }

  &__name {
    width: 100%;
    color: $color-secondary;
    padding: 2rem 0 2rem 0;
  }

  &__text {
    width: 100%;
    padding: 0 2rem 3rem 2rem;
  }

  &__link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    color: $color-primary;
    padding-bottom: 1rem;
    border-bottom: 2px solid $color-secondary;
  }
}
