.global {
  grid-column: full-start / full-end;
  background-image: url("/img/bg-world.jpg");
  background-size: cover;
  text-align: center;
  padding: 10rem 2rem 12rem 2rem;
  color: $color-white;

  &__heading {
    padding-bottom: 3rem;
  }

  &__text {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    padding-bottom: 5rem;

    @media only screen and (max-width: $bp-smallest) {
      max-width: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    padding: 2rem;
    border: 1px solid $color-white;
    border-radius: $border-radius;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
      transition: all 0.3s;
    }
  }
}
