.header {
  //grid-column: full-start / full-end;
  height: 100%;

  &__image {
    width: 100%;
    height: 100%;

    @media only screen and (max-width: $bp-medium) {
      height: 70vw;
    }
    @media only screen and (max-width: $bp-smallest) {
        height: 100%;
      }
  }
}
