.stories {
    grid-column: full-start / full-end;
    background-image: url(/img/photo_women-talking.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
}