.unleash {
    grid-column: center-start / center-end;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 10rem 4rem;
    width: 80%;

    @media only screen and (max-width: $bp-smallest) {
        width: 100%;
        padding: 5rem 2rem;
    }

    &__heading {
        width: 85%;
        margin: 0 auto;
        padding-bottom: 3rem;

        @media only screen and (max-width: $bp-smallest) {
            width: 100%;
        }
    }

    &__text {
        //padding-bottom: 3rem;
        padding: 0 2rem 3rem 2rem;

        @media only screen and (max-width: $bp-smallest) {
            padding: 0 0 3rem 0;
        }
    }
    &__link {
        text-decoration: none;
        border-bottom: 2px solid $color-secondary;
        color: $color-primary;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 1rem;
    }
}