.unleash {
    grid-column: center-start / center-end;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 10rem 0;
    width: 70%;

    &__heading {
        width: 85%;
        margin: 0 auto;
        padding-bottom: 3rem;
    }

    &__text {
        //padding-bottom: 3rem;
        padding: 0 2rem 3rem 2rem;
    }
    &__link {
        text-decoration: none;
        border-bottom: 2px solid $color-secondary;
        color: $color-primary;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 1rem;
    }
}